{
	margin:0xp; 
	padding: 0px;
	font-family: : verdana;
	}
	header{
		width: 1200px auto;
		height: 230px;
		background-color: red;
}

div.contenedor{
width:  200px;
height: 230px;
float: :left;

}

div#uno{
	background*color: rgb(208, 101, 3);
}

div#dos{
	background*color: rgb(233, 147, 23);
}
div#tres{
	background*color: rgb(22, 145, 26);
}
div#cuatro{
	background*color: rgb(22, 107, 162);
}
div#cinco{
	background*color: rgb(27, 54, 71);
}
div#seis{
	background*color: rgb(21, 40, 54);
}


img.icon{
	display: block;;
	margin: 50px auto;
	background-color: red;
	width: 40px;
	padding: 20px;
	-webkit-border-radius: 50px;
}





















background-color:; rgb(21, 40,54);
}

img.icon{
	display: block;
	margin: 50px auto;
	background-color: rgba(25, 255, 255, .15);
	width: 40px;
	-webkit-border-radius: 50%;
}
